{% extends 'base.html' %}
{% block title %}Set New Password • Magma7Fitness{% endblock %}
{% block content %}
<div class="container">
  <div class="section" style="max-width:560px;margin:0 auto;">
    <h4 class="deep-orange-text text-darken-2">Set a new password</h4>
    <form method="post" class="card-panel white">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="input-field">
        {{ form.new_password1.errors }}
        <input type="password" name="new_password1" id="id_new_password1" required>
        <label for="id_new_password1">New password</label>
      </div>
      <div class="input-field">
        {{ form.new_password2.errors }}
        <input type="password" name="new_password2" id="id_new_password2" required>
        <label for="id_new_password2">Confirm new password</label>
      </div>
      <button type="submit" class="btn deep-orange">Save</button>
    </form>
  </div>
</div>
{% endblock %}

