{% extends 'base.html' %}
{% block title %}Core Values • Magma7Fitness{% endblock %}
{% block content %}
<div class="container">
  <div class="section">
    <h3 class="deep-orange-text text-darken-2">Our Core Values</h3>
    <ul class="collection">
      <li class="collection-item"><b>Health and wellness</b> — We prioritize the health and wellness of our members and aim to promote healthy lifestyles through our services and facilities.</li>
      <li class="collection-item"><b>Inclusivity</b> — We create an inclusive environment welcoming individuals from all backgrounds and fitness levels.</li>
      <li class="collection-item"><b>Excellence</b> — We strive for excellence across equipment, facilities, and staff professionalism.</li>
      <li class="collection-item"><b>Community</b> — We foster mutual support and encouragement among members and staff.</li>
      <li class="collection-item"><b>Innovation</b> — We continually seek effective ways to help members achieve their goals.</li>
    </ul>
  </div>
</div>
{% endblock %}

